<%- model_class = Client -%>
<div class="page-header">
  <h1>Clientes</h1>
</div>

<!-- Inicio Fieldset para fazer a pesquisa dos dados -->
<fieldset style="border: 1px solid #CECECE; padding: 10px; margin-bottom: 10px;" class="item">
  <h3>Pesquisar</h3>
  </br>
  <%= search_form_for @q, :html=>{:class=>"form-horizontal"} do |f| %>
    <div class="control-group">
        <%= f.label "Nome" %>
        <%= f.text_field :name_cont, :class => 'span5' %>
    </div>
    <%= f.submit "Pesquisar", :name => nil, :class=>"btn icon-search" %>
    <%= link_to 'Limpar', clients_path %>        
  <% end %>
</fieldset>
<!-- Fim Fieldset para fazer a pesquisa dos dados -->

<!-- Inicio Tabela de exibição dos dados -->
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:cellphone) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:observations) %></th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.cellphone %></td>
        <td><%= client.address %></td>
        <td><%= client.email %></td>
        <td><%= client.city %></td>
        <td><%= client.observations %></td>
        <td>
          <%= link_to 'Editar',
                      edit_client_path(client), :class => 'btn btn-small icon-edit' %>
          <%= link_to 'Excluir',
                      client_path(client),
                      :method => :delete,
                      :confirm => 'Tem certeza que deseja excluir este cliente?',
                      :class => 'btn btn-small btn-danger icon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Fim Tabela de exibição dos dados -->

<!-- Paginação dos dados -->
<div class="pagination">
    <%= paginate @clients %>
</div>
<!-- Fim Paginação dos dados -->

<!-- Inicio Link para criar novo registro -->
<%= link_to 'Novo Cliente', new_client_path, :class => 'btn btn-primary' %>
<!-- Fim Link para criar novo registro -->
