<%= form_for @servicetype, :html => { :class => 'well form-horizontal' } do |f| %>
  <% if @servicetype.errors.any? %>  
  <div id="errorExplanation" class="alert alert-error">  
    <h2>Para salvar o tipo de serviço você deve resolver <%= pluralize_without_count("o", @servicetype.errors.count) %> <%= pluralize_without_count("erro", @servicetype.errors.count) %> encontrados:</h2>  
    <ul>  
    <% @servicetype.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %>  

  <!--Notificações -->
  <% if flash[:error] %>
    <p class="error alert alert-error" id="notificationError"><%=h flash[:error] %><button class="close" data-dismiss="alert">×</button></p>
  <% end %>
  <% if flash[:success] %>
    <p class="success alert alert-success" id="notificationSuccess"><%=h flash[:success] %><button class="close" data-dismiss="alert">×</button></p>
  <% end %>
  <!-- Fim das notificações -->  

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :prince, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :prince, :class => 'span2', :onkeypress => "return moeda(this, event)" %>
    </div>
  </div>  

  <div class="form-actions">
    <%= f.submit 'Gravar', :class => 'btn btn-primary' %> 
    <%= link_to 'Cancelar', servicetypes_path, :class => 'btn' %>
  </div>
<% end %>

<!-- Início Javascript -->
<script type="text/javascript">
  function moeda(campo, e){  
     var SeparadorDecimal = ","  
     var SeparadorMilesimo = "."  
     var sep = 0;  
     var key = '';  
     var i = j = 0;  
     var len = len2 = 0;  
     var strCheck = '0123456789';  
     var aux = aux2 = '';  
     var whichCode = (window.Event) ? e.which : e.keyCode;  
        
     if (whichCode == 13) return true;  
     key = String.fromCharCode(whichCode); // Valor para o código da Chave  
      
     if (strCheck.indexOf(key) == -1) return true; // Chave inválida  
     len = campo.value.length;  
     for(i = 0; i < len; i++)  
    
         if ((campo.value.charAt(i) != '0') && (campo.value.charAt(i) != SeparadorDecimal)) break;  
     aux = '';  
     for(; i < len; i++)  
    
         if (strCheck.indexOf(campo.value.charAt(i))!=-1) aux += campo.value.charAt(i);  
     aux += key;  
     len = aux.length;  
    
     if (len == 0) campo.value = '';  
     if (len == 1) campo.value = '0'+ SeparadorDecimal + '0' + aux;  
     if (len == 2) campo.value = '0'+ SeparadorDecimal + aux;  
     if (len > 2) {  
         aux2 = '';  
         for (j = 0, i = len - 3; i >= 0; i--) {  
             if (j == 3) {  
                 aux2 += SeparadorMilesimo;  
                 j = 0;  
             }  
             aux2 += aux.charAt(i);  
             j++;  
         }  
         campo.value = '';  
         len2 = aux2.length;  
         for (i = len2 - 1; i >= 0; i--)  
         campo.value += aux2.charAt(i);  
         campo.value += SeparadorDecimal + aux.substr(len - 2, len);  
    }  
    return false;  
  }
</script>
<!-- Fim Javascript -->  
