<%= form_for @management, :html => {:multipart => true, :class => 'well form-horizontal' } do |f| %>
  <% if @management.errors.any? %>  
  <div id="errorExplanation" class="alert alert-error">  
    <h2>Para salvar o usuario você deve resolver <%= pluralize_without_count("o", @management.errors.count) %> <%= pluralize_without_count("erro", @management.errors.count) %> encontrados:</h2>  
    <ul>  
    <% @management.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %>  
  
  <!--Notificações -->
  <% if flash[:error] %>
    <p class="error alert alert-error" id="notificationError"><%=h flash[:error] %><button class="close" data-dismiss="alert">×</button></p>
  <% end %>
  <% if flash[:success] %>
    <p class="success alert alert-success" id="notificationSuccess"><%=h flash[:success] %><button class="close" data-dismiss="alert">×</button></p>
  <% end %>
  <!-- Fim das notificações -->  

  <div class="control-group">
    <%= f.label :site_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :site_name, :class => 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tagline, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tagline, :class => 'span4' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.cktext_area :description, :class => 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :keywords, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :keywords, :class => 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :icon, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :icon, :class => 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :logo, :class => 'span5' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :facebook, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebook, :class => 'span4' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :twitter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :twitter, :class => 'span4' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :linkedin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :linkedin, :class => 'span4' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :youtube, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :youtube, :class => 'span4' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Gravar', :class => 'btn btn-primary' %> 
    <%= link_to 'Cancelar', managements_path, :class => 'btn' %>
  </div>
<% end %>
