<%- model_class = Management -%>
<div class="page-header">
  <h1>Configurações</h1>
</div>

<!-- Inicio Tabela de exibição dos dados -->
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:site_name) %></th>
      <th><%= model_class.human_attribute_name(:tagline) %></th>
      <th><%= model_class.human_attribute_name(:keywords) %></th>
      <th><%= model_class.human_attribute_name(:facebook) %></th>
      <th><%= model_class.human_attribute_name(:twitter) %></th>
      <th><%= model_class.human_attribute_name(:linkedin) %></th>
      <th><%= model_class.human_attribute_name(:youtube) %></th>
      <th>Criado em</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @managements.each do |management| %>
      <tr>
        <td><%= management.site_name %></td>
        <td><%= management.tagline %></td>
        <td><%= management.keywords %></td>
        <td><%= management.facebook %></td>
        <td><%= management.twitter %></td>
        <td><%= management.linkedin %></td>
        <td><%= management.youtube %></td>
        <td><%=l management.created_at %></td>
        <td>
          <%= link_to 'Exibir',
                      management, :class => 'btn btn-small btn-info icon-eye-open' %>          
          <%= link_to 'Editar',
                      edit_management_path(management), :class => 'btn btn-small icon-edit' %>
          <%= link_to 'Excluir',
                      management_path(management),
                      :method => :delete,
                      :confirm => 'Tem certeza que deseja excluir esta configuração?',
                      :class => 'btn btn-small btn-danger icon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Fim Tabela de exibição dos dados -->

<!-- Inicio Link para criar novo registro -->
<%= link_to 'Nova Configuração', new_management_path, :class => 'btn btn-primary' %>
<!-- Fim Link para criar novo registro -->
