<%= form_for @about, :html => { :class => 'well form-horizontal' } do |f| %>
  <% if @about.errors.any? %>  
  <div id="errorExplanation" class="alert alert-error">  
    <h2>Para salvar a empresa você deve resolver <%= pluralize_without_count("o", @about.errors.count) %> <%= pluralize_without_count("erro", @about.errors.count) %> encontrados:</h2>  
    <ul>  
    <% @about.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %> 
  
  <!--Notificações -->
  <% if flash[:error] %>
    <p class="error alert alert-error" id="notificationError"><%=h flash[:error] %><button class="close" data-dismiss="alert">×</button></p>
  <% end %>
  <% if flash[:success] %>
    <p class="success alert alert-success" id="notificationSuccess"><%=h flash[:success] %><button class="close" data-dismiss="alert">×</button></p>
  <% end %>
  <!-- Fim das notificações --> 

  <!-- Inicio do formulário -->  
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'span5' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :slug, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :slug, :class => 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.cktext_area :description, :class => 'span5' %>
    </div>    
  </div>
  <!-- Fim do formulário -->

  <!-- Inicio Ações -->
  <div class="form-actions">
    <%= f.submit 'Gravar', :class => 'btn btn-primary' %> 
    <%= link_to 'Cancelar', abouts_path, :class => 'btn' %>
  </div>
  <!-- Fim Ações -->  

<% end %>
