<!DOCTYPE html>
<html>
<head>
  <title>Administrativo Ricardo Express</title>
  <% managements = Management.find_by_id(1) %>
  <meta charset="utf-8">
  <link rel="icon" href="<%= content_for?(:icon) ? yield(:icon) : managements.icon %>" type="image/ico" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "bootstrap_and_overrides", "scaffolds" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%#= image_tag('IMAGEM.png', :class=>"brand" ) %>

        <div class="btn-group pull-right">
          <a href="#" style="color: white;cursor: default;margin: 4px;padding: 9px 10px 11px; text-decoration: none;" > Olá, <b><%= current_user.username %></b> (<b><%= current_user.roles %></b>)</a>          
          <a class="btn dropdown-toggle icon-user" href="#" data-toggle="dropdown">
            Área do usuário
            <span class="caret"></span>
          </a>
              <ul class="dropdown-menu">                         
                <% if user_signed_in? %>
                  Bem-vindo <strong><%= current_user.username %></strong>.
                  <li><%= link_to 'Editar perfil', :controller => "users", :action=> "edit", :id => current_user.id %></li>
                  <li><%= link_to "Voltar ao site", :controller => "site", :action=> "index" %></li>
                  <li><%= link_to "Sair do sistema", destroy_user_session_path, :method => :delete %></li>
                <% else %>
                  <li><%= link_to "Criar conta", user_path %></li>
                  <li><%= link_to "Acessar", new_user_session_path %></li>
                <% end %>                 
              </ul>
        </div> 

        <div class="container-fluid nav-collapse">
          <ul class="nav nav-pills">
            <!-- Menu home -->
            <li><%= link_to "Home", admins_path %></li>
            <li><%= link_to "Clientes", clients_path %></li>            
            <li><%= link_to "Contatos", contacts_path %></li>
            <li><%= link_to "Empresas", abouts_path %></li>
            <li><%= link_to "Slides", slides_path %></li>
            <li class="dropdown" style="visibility: visible;">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Serviços<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Cadastar Serviços", services_path %></li>
                <li><%= link_to "Tipos de Serviços", servicetypes_path %></li>
                <li><%= link_to "Rotas", circuits_path %></li>
              </ul>
            </li>
            <li><%= link_to "Usuários", users_path %></li>
            <li><%= link_to "Permissões", roles_path %></li>            
            <li><%= link_to "Configurações", managements_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div><%= yield %></div>
      </div>
    </div>
  </div>
</body>
</html>

