<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--Validar se existe-->
    <% managements = Management.find_by_id(1) %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : managements.keywords %>" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : managements.description %>" />
    <link rel="icon" href="<%= content_for?(:icon) ? yield(:icon) : managements.icon %>" type="image/ico" />
    <title><%= content_for?(:title) ? yield(:site_name) : managements.site_name %></title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%#= stylesheet_link_tag "bootstrap_and_overrides" %>    
    <%= stylesheet_link_tag "land", "bootstrap_site" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <!-- Inicio - Body -->
  <body>
    <%= yield %>
  </body>
  <!-- Fim - Body -->
</html>

  

