<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--Validar se existe-->
    <% managements = Management.find_by_id(1) %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : managements.keywords %>" />
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : managements.description %>" />
    <link rel="icon" href="<%= content_for?(:icon) ? yield(:icon) : managements.icon %>" type="image/ico" />
    <title><%= content_for?(:title) ? yield(:site_name) : managements.site_name %></title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%#= stylesheet_link_tag "bootstrap_and_overrides" %>    
    <%= stylesheet_link_tag "site", "bootstrap_site", "theme_site" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <!-- Inicio - Body -->
  <body class="pull_top">
    <!-- Inicio topo -->
    <div class="topo transparent topo-inverse topo-fixed-top">
      <div class="topo-inner">
        <div class="caixa">
            <a class="btn btn-topo" data-toggle="collapse" data-target=".navegar-quebra">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="logo" >
                <%= link_to (image_tag "logo_small.png"), "/site" %>
                <span class="slogan">Fique tranquilo! Atendemos sua urgência.</span>
            </div>

            <div class="navegar-quebra quebra">
                <ul class="navegar pull-right">
                    <li><%= link_to "Home", :controller => "site", :action=> "index" %></li>
                    <% empresa_id = About.first.id %>
                    <li><%= link_to "Empresa", :controller => "abouts", :action=> "empresa", :id => empresa_id %></li>
                    <li class="dropdown">
                        <%= link_to (@service, :data => {:toggle=>"dropdown"}, :class=>"dropdown-toggle") do %>
                            Serviços
                            <b class="caret"></b>
                        <% end %>
                        <ul class="dropdown-menu">
                            <% @services = Service.all %>
                            <% @services.each do |service| %>
                                <li><%= link_to service.name, :controller => "services", :action => "servico", :id => service.id %></li>
                            <%end%>
                        </ul>
                    </li>
                    <li><%= link_to "Contato", :controller => "contacts", :action=> "contato"  %></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    <!-- Fim topo -->
    
      <%= yield %>


    <!-- Inicio Footer -->
    <footer id="footer">
    <div class="caixa">
    <!--
        <div class="row sections">
            <div class="span4 recent_posts">
                <h3 class="footer_header">
                    Recent Posts
                </h3>
                <div class="post">
                    <a href="blogpost.html">
                        <img src="img/recent_post1.png" class="img-circle" />
                    </a>
                    <div class="date">
                        Wed, 12 Dec
                    </div>
                    <a href="blogpost.html" class="title">
                        Randomised words which don't look embarrasing hidden.
                    </a>
                </div>
                <div class="post">
                    <a href="blogpost.html">
                        <img src="img/recent_post2.png" class="img-circle" />
                    </a>
                    <div class="date">
                        Mon, 12 Dec
                    </div>
                    <a href="blogpost.html" class="title">
                        Randomised words which don't look embarrasing hidden.
                    </a>
                </div>
            </div>
            <div class="span4 contact">
                <h3 class="footer_header">
                    Contact
                </h3>
                <form action="#" method="post">
                    <input type="text" placeholder="Your name" />
                    <input type="text" placeholder="Your email" />
                    <textarea rows="3" placeholder="Message"></textarea>
                    <input type="submit" value="Send" />
                </form>
            </div>
            <div class="span4 testimonials">
                <h3 class="footer_header">
                    Testimonials
                </h3>
                <div class="wrapper">
                    <div class="quote">
                        <span>“</span>
                        There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
                        <span></span>
                    </div>
                    <div class="author">
                        <img src="img/user-display.png" />
                        <div class="name">Alejandra Galvan Castillo</div>
                        <div class="info">
                            Details Canvas
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->
        <div class="row credits">
            <div class="span12">
                <!--
                <div class="row social">
                    <div class="span12">
                        <a href="#" class="facebook">
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="#" class="twitter">
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>
                        <a href="#" class="gplus">
                            <span class="socialicons ico3"></span>
                            <span class="socialicons_h ico3h"></span>
                        </a>
                        <a href="#" class="flickr">
                            <span class="socialicons ico4"></span>
                            <span class="socialicons_h ico4h"></span>
                        </a>
                        <a href="#" class="pinterest">
                            <span class="socialicons ico5"></span>
                            <span class="socialicons_h ico5h"></span>
                        </a>
                        <a href="#" class="dribble">
                            <span class="socialicons ico6"></span>
                            <span class="socialicons_h ico6h"></span>
                        </a>
                        <a href="#" class="behance">
                            <span class="socialicons ico7"></span>
                            <span class="socialicons_h ico7h"></span>
                        </a>
                    </div>
                </div>
            -->
                <div class="row copyright">
                    <div class="span10">
                        © 2013 <%= managements.site_name %>. Todos os direitos reservados.
                    </div>
                    <div class="span2">
                        <div class="btn-group pull-right">
                            <% if user_signed_in? %>
                                <%= link_to "Voltar ao sistema", admins_path, :class => "btn btn-inverse" %>
                            <% else %>
                                <%= link_to "Área restrita", new_user_session_path, :class => "btn btn-inverse" %>
                            <% end %>                 
                        </div> 
                    </div> 
                </div>
            </div>            
        </div>
    </div>
</footer>
<!-- Fim Footer -->

    
    </body>
  <!-- Fim - Body -->
</html>

  

