<%- model_class = Role -%>
<div class="page-header">
  <h1>Permissões</h1>
</div>

<!-- Inicio Fieldset para fazer a pesquisa dos dados -->
<fieldset style="border: 1px solid #CECECE; padding: 10px; margin-bottom: 10px;" class="item">
  <h3>Pesquisar</h3>
  </br>
  <%= search_form_for @q, :html=>{:class=>"form-horizontal"} do |f| %>
    <div class="control-group">
        <%= f.label "Nome" %>
        <%= f.text_field :name_cont, :class => 'span5' %>
    </div>
    <%= f.submit "Pesquisar", :name => nil, :class=>"btn icon-search" %>
    <%= link_to 'Limpar', roles_path %>        
  <% end %>
</fieldset>
<!-- Fim Fieldset para fazer a pesquisa dos dados -->

<!-- Inicio Tabela de exibição dos dados -->
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td>
          <%= link_to 'Editar',
                      edit_role_path(role), :class => 'btn btn-small icon-edit' %>
          <%= link_to 'Excluir',
                      role_path(role),
                      :method => :delete,
                      :confirm => 'Tem certeza que deseja excluir esta permissão?',
                      :class => 'btn btn-small btn-danger icon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Fim Tabela de exibição dos dados -->

<!-- Paginação dos dados -->
<div class="pagination">
    <%= paginate @roles %>
</div>
<!-- Fim Paginação dos dados -->

<!-- Inicio Link para criar novo registro -->
<%= link_to 'Nova Permissão', new_role_path, :class => 'btn btn-primary' %>
<!-- Fim Link para criar novo registro -->
