<%- model_class = User.new.class -%>
<div class="page-header">
  <h1>Usuários</h1>
</div>

<!-- Inicio Fieldset para fazer a pesquisa dos dados -->
<fieldset style="border: 1px solid #CECECE; padding: 10px; margin-bottom: 10px;" class="item">
  <h3>Pesquisar</h3>
  </br>
  <%= search_form_for @q, :html=>{:class=>"form-horizontal"} do |f| %>
    <div class="control-group">
        <%= f.label "Nome" %>
        <%= f.text_field :username_cont, :class => 'span5' %>
    </div>
    <div class="control-group">
        <%= f.label "Email" %>
        <%= f.text_field :email_cont, :class => 'span4' %>
    </div>
    <%= f.submit "Pesquisar", :username => nil, :class=>"btn icon-search" %>
    <%= link_to 'Limpar', users_path %>        
  <% end %>
</fieldset>
<!-- Fim Fieldset para fazer a pesquisa dos dados -->

<!-- Inicio Tabela de exibição dos dados -->
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th>Permissão</th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <% unless user.blank? %>
          <td><%= user.roles.first.name %></td>
        <% else %>
          <td> &nbsp;</td>
        <%end%>
        <td><%= user.username %></td>
        <td>
          <%= link_to 'Editar',
                      edit_user_path(user), :class => 'btn btn-small icon-edit' %>
          <%= link_to 'Excluir',
                      user_path(user),
                      :method => :delete,
                      :confirm => 'Tem certeza que deseja excluir este usuário?',
                      :class => 'btn btn-small btn-danger icon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Fim Tabela de exibição dos dados -->

<!-- Paginação dos dados -->
<div class="pagination">
    <%= paginate @users %>
</div>
<!-- Fim Paginação dos dados -->

<!-- Inicio Link para criar novo registro -->
<%= link_to 'Novo Usuário', new_user_path, :class => 'btn btn-primary' %>
<!-- Fim Link para criar novo registro -->
