<%= form_for @slide, :html => { :class => 'well form-horizontal' } do |f| %>
  <% if @slide.errors.any? %>  
  <div id="errorExplanation" class="alert alert-error">  
    <h2>Para salvar o slide você deve resolver <%= pluralize_without_count("o", @slide.errors.count) %> <%= pluralize_without_count("erro", @slide.errors.count) %> encontrados:</h2>  
    <ul>  
    <% @slide.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %> 
  
  <!--Notificações -->
  <% if flash[:error] %>
    <p class="error alert alert-error" id="notificationError"><%=h flash[:error] %><button class="close" data-dismiss="alert">×</button></p>
  <% end %>
  <% if flash[:success] %>
    <p class="success alert alert-success" id="notificationSuccess"><%=h flash[:success] %><button class="close" data-dismiss="alert">×</button></p>
  <% end %>
  <!-- Fim das notificações --> 

  <!-- Inicio do formulário -->  
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'span5' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :background, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :background, :class => 'span5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => "control-label" %>
    <div class="controls">
      <%= f.cktext_area :text, :class => 'span5' %>    
    </div>
  </div> 
  <!-- Fim do formulário -->

  <!-- Inicio Ações -->
  <div class="form-actions">
    <%= f.submit 'Gravar', :class => 'btn btn-primary' %> 
    <%= link_to 'Cancelar', slides_path, :class => 'btn' %>
  </div>
  <!-- Fim Ações --> 

<% end %>
