<%- model_class = Slide -%>
<div class="page-header">
  <h1>Slide</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @slide.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag @slide.image_url(:big) %></dd><br>  
  <dt><strong><%= model_class.human_attribute_name(:background) %>:</strong></dt>
  <dd><%= image_tag @slide.background_url(:big) %></dd><br>
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @slide.text %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Voltar',
              slides_path, :class => 'btn icon-arrow-left'  %>
  <%= link_to 'Editar',
              edit_slide_path(@slide), :class => 'btn icon-edit' %>
  <%= link_to 'Excluir',
              slide_path(@slide),
              :method => 'delete',
              :confirm => 'Tem certeza que deseja excluir este slide?',
              :class => 'btn btn-danger icon-trash' %>
</div>